body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    'sidebar header'
    'sidebar content';
    height: 100vh;
}

.header {
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-area: header;
    /* background-image: url(background_artwork/3840x2160/Mandalorian\ Skull\ Wallpaper\ 4k\ Horizontal\ swmand4.jpg);
    background-position: center;
    background-size: contain; */
}

.user-greeting {
    display: grid;
    grid-template-columns: 100px 1fr; /* Adjust width later */
}

.user-greeting img {
    justify-self: center;
    align-self: center;
}

/*
custom icons for li's
https://web.dev/css-marker-pseudo-element/
*/

:root {
    --icon-size: 1em;
    --icon-logo-scale: 2;
    --header-color:#d6d3d1;
    --sidebar-mainRowGap: 2em;
    --sidebar-subRowGap: .25em;
    --sidebar-subColWidth: 2em;
    --sidebar-clickablePadding: .2em;
    --sidebar-color: #888c92;
    --card-color: whitesmoke;
    --card-radius: 1em;
    --card-padding: 1em;
    --card-text-color: grey;
}

.sidebar {
    background-color: var(--sidebar-color);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sidebar-mainRowGap);
    grid-template-rows: repeat(4, min-content);
    font-size: 1.5em;
    color: white;
    border-style: none ridge none none;
    border-color: var(--sidebar-color);
    padding: .5em;
}

/* Used mask for changing color as this guide instructs:
https://css-tricks.com/change-color-of-svg-on-hover/
*/


.icon {
    display: inline-block;
    background: white;
    mask-size: cover;
    mask-repeat: no-repeat;
    width: var(--icon-size);
    height: var(--icon-size);
}

.sidebar li {
    display: grid;
    list-style: none;
    grid-template-columns: var(--sidebar-subColWidth) 1fr;
    align-items: center;
}

.sidebar ul {
    padding: 0px;
    margin: 0px;
    display: grid;
    row-gap: var(--sidebar-subRowGap);
}

.sidebar span {
    justify-self: center;
}

.logo span{
    height: calc(var(--icon-logo-scale) * var(--icon-size));
    width: calc(var(--icon-logo-scale) * var(--icon-size));
}

.sidebar p {
    width: fit-content;
    padding: var(--sidebar-clickablePadding);
    margin: 0px;
}

.nav1 p:hover, .nav2 p:hover {
    cursor: pointer;
    background-color: #e2e8f03a;
    border-radius: .5em;
}


.main-content {
    background-color: #e2e8f0;
    grid-area: content;
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr 300px;
    /*
    https://lambrous.github.io/odin-admin-dashboard/
    This guy does the site layout in a MUCH nicer way
    Below code is following after his methods, it is
    MUCH more succinct. I should layout sites like this
    more often.
    */
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    'projects announcements'
    'projects trending';
}

/* Icons from:
https://materialdesignicons.com/
*/
.section-title {
    grid-column: 1 / -1;
    justify-self: left;
    align-self: center;
}

.projects {
    grid-area: projects;
    gap: 1em;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 2em;
    padding-bottom: 2em;
}

.card {
    background-color: var(--card-color);
    box-shadow: 0px 3px 2px #ccc;
    padding: var(--card-padding);
    border-left: solid #eab308 10px;
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
}

.card-title, .card-text{
    margin: 0px;
}

.card-title {
    margin-bottom: .25em;
    width: fit-content; /* so the hover only works on the title text */
}

.card-title:hover {
    cursor: pointer;
}

/*
https://css-tricks.com/almanac/properties/l/line-clamp/
line-clamp and possibly using -webkit-line-clamp lets me limit text overflow
*/

.card-text {
    color: var(--card-text-color);
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-buttons {
    /*
    https://lambrous.github.io/odin-admin-dashboard/
    Referenced this guy's work on card setup, its pretty slick.
    Setting margin-top to auto seems to fix the buttons to the
    bottom of the card nicely.
    */
    /* The "margin-top: auto;" setting puts the buttons in the proper place
    at the bottom of the card. I don't perfectly understand why, but I am
    rolling with it. :D */
    margin-top: auto; 
    align-self: flex-end;
    display: flex;
    gap: 1.5em;
    padding: .25em;   
}

.card-buttons button {
    border: none;
    background-color: inherit;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.card-buttons button:hover {
    cursor: pointer;
    background-color: #ddd;
    border-radius: .5em;
}

.btn-favorite {
    background-image: url(./svg-files/star-plus-outline.svg);
}

.btn-watch {
    background-image: url(./svg-files/eye-plus-outline.svg);
}

.btn-fork {
    background-image: url(./svg-files/source-fork.svg);
}

.announcement-section {
    grid-area: announcements;
}

.announcements {
    background-color: var(--card-color);
    padding: var(--card-padding);
    border-radius: 1em;
}

.announcements .card-text {
    -webkit-line-clamp: 3;
}

.announcements hr {
    color: lightgrey;
    border: solid 1px lightgrey;
    margin: 1em 0 1em 0;
}

.trending-section {
    grid-area: trending;
}

.trends {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p {
    margin: 0px;
}

.trend {
/*     border: solid blue 1px; */
    display: flex;
    justify-content: flex-start;
    gap: .75em;
    align-items: center;
}

.picture {
    background-image: url(svg-files/cog.svg);
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
    border-radius:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.trend .account {
    background-color: #eab20846;
    padding: .5em;
    border-radius: 1em;
}

.trend .username {
    font-weight: 600;
    margin-bottom: .2em;
    width: min-content;
}

.trend .username:hover {
    cursor: pointer;
    
}

.trend .picture:hover {
    cursor: pointer;
}

.trend-1 .picture{
    background-image: url(profile_artwork/f5f5a9c8110bc3db0b3098d06dd1762ad8e0bda6r1-2048-2048v2_hq.jpg);
}

.trend-2 .picture{
    background-image: url(profile_artwork/e53711089cbaae08da075632fda8eb5d0e10981br1-2048-2048v2_hq.jpg);
}

.trend-3 .picture{
    background-image: url(profile_artwork/427405e158d8057f7ae3f43eda9930aad7cc9885r1-2048-2048v2_hq.jpg);
}

.trend-4 .picture{
    background-image: url(profile_artwork/c22a9ec52f59aa97aaa183e42a0a7befdc803a53r1-2048-2048v2_hq.jpg);
}