/*
Pictoral Citations:
Sidebar background images:
https://pin.it/7zLpfBh
https://pin.it/cjzerG6
I composited them together in paint and here is the original texture creator's website: 
http://www.sevristh.co.uk/textures.html

The main Star Wars background: https://www.artstation.com/artwork/Y8LKP
"Deployment" by: Tysen Johnson

SVG icons from: https://materialdesignicons.com/

Dashboard SVG icon:
https://www.svgrepo.com/svg/97486/death-star

Profile pictures from:
https://aminoapps.com/c/star-wars/page/blog/profile-icons-trooper-02/GqFn_u0qXkzpagmBZDXLdnVKVYEEKqHB
"PROFILE ICONS / TROOPER 02" by: IIIiIitia.

Notes:
I was feeling my way through creating this site.
As such the class nomenclature and class condensation is not very nea. I tidied it up
a bit, its not as good as other examples (where you know what you are doing from the begining), but eh... it works.
This was a good learning process for me: figuring out how to use SVG icons, propagating the cards,
using grid and so on. It only required one thing... time... lots of time, and DuckDuckGo :D
*/

:root {
    --header-account-picture-size: 60px;
    --sidebar-icon-size: 1em;
    --sidebar-icon-logo-scale: 2;
    --sidebar-mainRowGap: .75em;
    --sidebar-subRowGap: .25em;
    --sidebar-subColWidth: 2em;
    --sidebar-clickablePadding: .2em;
    --sidebar-background-image: url(background_textures/composite.jpg);
    --card-btn-size: 2.5em;
    --color-cards-background: #f5f5f5bd;
    --color-grey: #888c92;
    --color-hover-light: #ddd;
    --color-gold-yellow: #e9b517d7;
    --color-gold-faded: #ffbf0046;
    --trend1-picture: url(profile_artwork/f5f5a9c8110bc3db0b3098d06dd1762ad8e0bda6r1-2048-2048v2_hq.jpg);
    --trend2-picture: url(profile_artwork/e53711089cbaae08da075632fda8eb5d0e10981br1-2048-2048v2_hq.jpg);
    --trend3-picture: url(profile_artwork/427405e158d8057f7ae3f43eda9930aad7cc9885r1-2048-2048v2_hq.jpg);
    --trend4-picture: url(profile_artwork/c22a9ec52f59aa97aaa183e42a0a7befdc803a53r1-2048-2048v2_hq.jpg);
}

/* Star Wars Fonts b/c STAR WARS! */
@font-face {
    /* https://www.fontspace.com/anakinmono-font-f16263 */
    font-family: AnakinMono;
    src: url(starwars-fonts/AnakinmonoRegular-n1lP.ttf);
}

@font-face {
    /* https://www.fontspace.com/engli-besh-font-f14757 */
    font-family: EngliBesh;
    src: url(starwars-fonts/EngliBesh-KG3W.ttf);
}

body {
    margin: 0px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: AnakinMono;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    'sidebar header'
    'sidebar content';
    height: 100vh;
    background-image: url(background_textures/tysen-johnson-atat-hangar-art-station.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.card-default {
    background-color: var(--color-cards-background);
    box-shadow: 0px 3px 10px #ccc;
    padding: 1rem;
    border-radius: 1rem;
}

.header {
    border-radius: unset;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-area: header;
    grid-template-areas:
    'search account'
    'lower lower';
    padding: 1em 2em 1em 2em;
}

.picture {
    width: 60px;
    height: 60px;
    /* flex-shrink prevents the header profile picture from getting squished*/
    flex-shrink: 0;
    border-radius:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header .picture {
    background-image: var(--trend2-picture);
}

.account .picture {
    width: calc(.8 * var(--header-account-picture-size));
    height: calc(.8 * var(--header-account-picture-size));
}

.header .search {
    grid-area: search;
    display: flex;
    align-items: center;
}

.search .button {
    width: 2.5em;
    height: 2.5em;
    min-width: 2.5em;
    max-height: 2.5em;
    background-image: url(svg-files/magnify.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.search .button:hover {
    background-color: var(--color-hover-light);
    border-radius: 50%;
    cursor: pointer;
}

.search input {
    margin-left: 1em;
    width: min(80%, 600px);
    height: 1.5em;
    padding: .5em 1em;
    /* border-radius: 2em; */
    border: solid var(--color-gold-yellow) 3px;
    font-family: inherit;
    /*
    different ways of getting custom borders:
    https://blog.logrocket.com/how-to-create-fancy-corners-in-css/
    clip-path generator:
    https://www.cssportal.com/css-clip-path-generator/
    good way of making sure the notches are at a 45 degree angle:
    https://css-tricks.com/notched-boxes/
    below code is from said example:
    */
    --notchSize: .5rem;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.search input:focus {
    border: ridge maroon 3px;
    outline: none;
}

.header .account {
    grid-area: account;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .notifications {
    width: 2.5em;
    height: 2.5em;
    background-image: url(svg-files/bell-ring-outline.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.header .notifications:hover{
    background-color: var(--color-hover-light);
    border-radius: 50%;
    cursor: pointer;
}

.account .name {
    font-weight: bold;
    font-size: 1.25em;
}

.account .name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.header .lower {
    grid-area: lower;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.profile {
    display: flex;
    gap: 1em;
}

.profile-name {
    font-weight: bold;
}

.profile-name .name {
    font-size: 1.5em;
}

.header .buttons {
    display: flex;
    gap: 1em;

}

.lower button {
    width: 80px;
    height: 30px;
    background-color: var(--color-gold-yellow);
    /* border-radius: 1em; */
    border: none;
    font-weight: bold;
    font-family: inherit;
    
    --notchSize: .5rem;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.lower button:hover {
    cursor: pointer;
}

.sidebar {
    box-sizing: border-box;
    /* background-color: var(--color-grey); */
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sidebar-mainRowGap);
    grid-template-rows: repeat(3, min-content);
    font-size: 1.5em;
    color: white;
    border-style: ridge;
    border-color: var(--color-grey);
    padding: .5em;
    background-image: var(--sidebar-background-image);
    height: fit-content;
}

.icon {
    display: inline-block;
    background: white;
    /* Used mask for changing color as this guide instructs:
    https://css-tricks.com/change-color-of-svg-on-hover/
    */
    mask-size: cover;
    mask-repeat: no-repeat;
    width: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
}

.sidebar li {
    display: grid;
    list-style: none;
    grid-template-columns: var(--sidebar-subColWidth) 1fr;
    align-items: center;
    background-color: var(--color-gold-faded);
    --notchSize: .5rem;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.sidebar ul {
    padding: 0px;
    margin: 0px;
    display: grid;
    row-gap: var(--sidebar-subRowGap);
}


.sidebar span {
    justify-self: center;
}

.logo li {
    padding: .2em;
}

.logo-text {
    font-family: EngliBesh;
}

.logo span{
    height: calc(var(--sidebar-icon-logo-scale) * var(--sidebar-icon-size));
    width: calc(var(--sidebar-icon-logo-scale) * var(--sidebar-icon-size));
}

.sidebar p {
    width: fit-content;
    padding: var(--sidebar-clickablePadding);
    margin: 0px;
}

.nav1 p:hover, .nav2 p:hover {
    cursor: pointer;
    background-color: var(--color-gold-faded);
    --notchSize: .5rem;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.main-content {
    /* background-color: #e2e8f0; */
    grid-area: content;
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr 300px;
    /*
    https://lambrous.github.io/odin-admin-dashboard/
    This guy does the site layout in a MUCH nicer way
    Below code is following after his methods, it is
    MUCH more succinct. I should layout sites like this
    more often.
   */
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    'projects announcements'
    'projects trending';
}

.projects {
    grid-area: projects;
    gap: 1em;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 1em;
    padding-bottom: 2em;
}

.section-title {
    grid-column: 1 / -1;
    justify-self: left;
    align-self: center;
    margin: 0px 0px .5em 0px;
    width: fit-content;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card {
    border-left: solid var(--color-gold-faded) 1rem;
    display: flex;
    flex-direction: column;
}

.card-title, .card-text{
    margin: 0px;
}

.card-title {
    margin-bottom: .25em;
    width: fit-content; /* so the hover only works on the title text */
}

.card-title:hover {
    cursor: pointer;
}

.card-text {
    /*
    https://css-tricks.com/almanac/properties/l/line-clamp/
    line-clamp and possibly using -webkit-line-clamp lets me limit text overflow
    */
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-buttons {
    /*
    https://lambrous.github.io/odin-admin-dashboard/
    Referenced this guy's work on card setup, its pretty slick.
    Setting margin-top to auto seems to fix the buttons to the
    bottom of the card nicely.
    */
    /* The "margin-top: auto;" setting puts the buttons in the proper place
    at the bottom of the card. I don't perfectly understand why, but I am
    rolling with it. :D
    */
    margin-top: auto; 
    align-self: flex-end;
    display: flex;
    gap: 1em;
    padding: .25em;   
}

.card-buttons button {
    border: none;
    background-color: inherit;
    width: var(--card-btn-size);
    height: var(--card-btn-size);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.card-buttons button:hover {
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;
}

.btn-favorite {
    background-image: url(./svg-files/star-plus-outline.svg);
}

.btn-watch {
    background-image: url(./svg-files/eye-plus-outline.svg);
}

.btn-fork {
    background-image: url(./svg-files/source-fork.svg);
}

.announcement-section {
    grid-area: announcements;
}

.announcements .card-text {
    -webkit-line-clamp: 3;
}

.announcements hr {
    background-color: var(--color-grey);
    border: solid 2px var(--color-grey);
    margin: 1em 0 1em 0;
    
    --notchSize: .1em;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.trending-section {
    grid-area: trending;
}

.trends {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p {
    margin: 0px;
}

.trend {
    /* border: solid blue 1px; */
    display: flex;
    justify-content: flex-start;
    gap: .75em;
    align-items: center;
}

.trend .account {
    background-color: var(--color-gold-faded);
    padding: .5em;
    /* border-radius: 1em; */
    --notchSize: 1rem;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.trend .username {
    font-weight: 600;
    margin-bottom: .2em;
    width: min-content;
}

.trend .username:hover {
    cursor: pointer;
    background-color: var(--color-gold-yellow);
    --notchSize: .25em;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
}

.trend .picture:hover {
    cursor: pointer;
}

.trend-1 .picture{
    background-image: var(--trend1-picture);
}

.trend-2 .picture{
    background-image: var(--trend2-picture);
}

.trend-3 .picture{
    background-image: var(--trend3-picture);
}

.trend-4 .picture{
    background-image: var(--trend4-picture);
}